<!DOCTYPE html>
<html>
<head>
    <title>Messaggistica 1.0</title>
</head>
<body>
    <h1>Messaggistica</h1>
    <form method="POST" action="/invia_messaggio">
        <h1>Invia un thread</h1>
        <input type="text" name="utente" placeholder="user" required>
        <textarea name="messaggio" placeholder="messaggio" required></textarea>
        <button type="submit">Invia Messaggio</button>
    </form>
    
    <div id="Thread Utenti:">
        {% for messaggio in messaggi %}
            <p>{{ messaggio }}</p>
        {% endfor %}
    </div>
</body>
</html>
