<!DOCTYPE html>
<html>
<head>
    <title>Messaggi Ricevuti</title>
</head>
<body>
    <h1>Messaggi Ricevuti</h1>
    <div id="messaggi">
        {% for messaggio in messaggi %}
            <p>{{ messaggio }}</p>
        {% endfor %}
    </div>
</body>
</html>
 
